<mat-toolbar>
  Boat list - {{username}}
</mat-toolbar>

<mat-spinner sytle="display:block;margin:auto;" *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="!isLoading" [togglePosition]="'before'">
  <mat-expansion-panel *ngFor="let boat of boatList">
    <mat-expansion-panel-header>
      <mat-panel-title>
      {{boat.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <img mat-card-image *ngIf="boat.photo !== undefined" src="boat.photo?" alt="Photo of the boat">
      <mat-card-content>
        <p>
         {{boat.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="openUpdateDialog(boat)" color="primary" mat-flat-button>Update</button>
        <button (click)="openRemoveDialog(boat.id)" style="margin-left: 10px;" color="warn" mat-flat-button>Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<div id="bottom-actions">
  <button (click)="openAddDialog()" color="primary" mat-flat-button>Add</button>
  <button style="margin-left: 10px;" (click)="logout()" color="warn" mat-flat-button>Logout</button>
</div>